/* src/components/Menu.css */
.owl-carousel .item {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.owl-carousel .item img {
    max-width: 100%;
    border-radius: 8px;
}

@import '~react-owl-carousel/dist/assets/owl.carousel.css';
@import '~react-owl-carousel/dist/assets/owl.theme.default.css';